.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Additional files
*.sqlite3
__pycache__/
instance/
HTML/
fintech/
LocatorApp/
PasswordGenerator/
UnameGenerator/
QuoteGenerator/
CurrencyRate/
Archive/
utilties/
FathersDay/
cat_program/
party_list/
testhtmlcss/